<%= form_for(@horse, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  <table>
    <tr><td><%= :name %></td><td><%= f.text_field :name %></td></tr>
    <tr><td><%= :breed %></td><td><%= f.text_field :breed %></td></tr>
    <tr><td><%= :color %></td><td><%= f.text_field :color %></td></tr>
    <tr><td><%= :gender %></td><td><%= f.text_field :gender %></td></tr>
    <tr><td><%= :owner %></td><td><%= f.text_field :owner %></td></tr>
    <tr><td><%= :photo %></td><td><%= f.file_field :photo %></td></tr>
  </table>
  </div>

  <div class="actions">
    <%= f.submit %><br />
  </div>

<% end %>
