<%= form_for(@horse, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name  %> <%= f.text_field :name %>
    <%= f.label :breed %> <%= f.text_field :breed %>
    <%= f.label :color %> <%= f.text_field :color %>
    <%= f.label :photo %> <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %><br />
  </div>

<% end %>
