<div>
  <h2 align="center"><%= @horse.name %></h2>
  <nav align="right">
    <% vet_report = @horse.vet_report.url %>
    <% dna_test   = @horse.dna_test.url %>
    <% registration = @horse.registration.url %>
    <% xray       = @horse.xray.url %>
    <%= link_to t('horses.registration'),  registration, :class => "quiet" %> |
    <%= link_to t('horses.dna'),           dna_test,     :class => "quiet" %> |
    <%= link_to t('horses.vet'),           vet_report,   :class => "quiet" %> |
    <%= link_to t('horses.xray'),          xray,         :class => "quiet" %> |
    <%= link_to t('edit'), edit_horse_path(@horse),      :class => "quiet" %> |
    <%= link_to t('back'), horses_path,                  :class => "quiet" %>
  </nav>
  <%= image_tag @horse.photo.url(:medium) %>
  
  <table>
    <tr><td><b><%= t 'name'  %>:</b></td><td><%= @horse.name %></td></tr>
    <tr><td><b><%= t 'color' %></b></td><td><%= @horse.color %></td></tr>
    <tr><td><b><%= t 'horses.breed' %>:</b></td><td><%= @horse.breed %></td></tr>
    <tr><td><b><%= t 'horses.gender'%>:</b></td><td><%= @horse.gender %></td></tr>
    <tr><td><b><%= t 'horses.breeder'%>:</b></td><td><%= @horse.breeder_id %></td></tr>
    <tr><td><b><%= t 'horses.lister'%>:</b></td><td><%= @horse.user_id %></tr</td>
  </table>
</div>
