<div class="span-14">
  <h1><%= t "hs" %></h1>
</div>

<div class="span-6">
  <%= form_tag horses_path, :method => 'get' do %>
    <%= text_field_tag :search, params["search"] %>
    <%= submit_tag t('search'), :name => nil %> 
  <% end %>
</div>

<div class="span-4 last">
  <nav align="right">
    <%= link_to t('add'), new_horse_path, :class => "quiet" %>
  </nav>
</div>

<table>
<% @horses.each do |horse| %>
  <% image = image_tag horse.photo.url(:thumb) %>
    <tr>
      <td><%= link_to horse.name, horse,  :class => "quiet" %></td>
      <td><%= horse.breed           %></td>
      <td><%= link_to image, horse  %></td>
      <% if signed_in? %>
        <% if current_user_id?(horse.user_id) %>
          <td><%= link_to t('edit'), edit_horse_path(horse) %></td>
        <% elsif current_user.admin? %>
         <td><%= link_to t('delete'), horse, :method => :delete,
                                        :confirm => "t 'sure'", 
                                        :title => "t 'delete' #{horse.name}" %></td>
        <% else %> 
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
