<nav align="right">
  <%= link_to 'Add', new_horse_path, :class => "quiet" %>
</nav>
<h1>Horses</h1>

<table>
  <tr>
    <th>Name</th><th>Breed</th><th>Color</th> <th>Image</th><th> </th>
  </tr>

  <% @horses.each do |horse| %>
    <% image = image_tag horse.photo.url(:thumb) %>
    <tr>
      <td><%= horse.name %></td>
      <td><%= horse.breed %></td>
      <td><%= horse.color %></td>
      <td><%= link_to image, horse %></td>
      <% if signed_in? %>
        <% if current_user_id?(horse.user_id) %>
          <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
        <% elsif current_user.admin? %>
         <td><%= link_to 'Destroy', horse, :method => :delete,
                                        :confirm => 'Are you sure?', 
                                        :title => "Delete #{horse.name}" %></td>
        <% else %> 
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
