<div class="span-18 colborder">

  <div class="span-5 colborder">
  <h4 align="center">Breeding</h4>
  <% @sire = sire %>
    <% sire_image = image_tag @sire.photo.url(:small) %>
    <%= link_to sire_image, @sire %>
    <p><b>Sire:</b><%= @sire.name %><br />
    <b>Bloodline: </b><tab><%= @horse.sire_bloodline %></p>

  <% @dam = dam %>
    <% dam_image = image_tag @dam.photo.url(:small) %>
    <%= link_to dam_image, @dam %>
    <p>Dam: <%= @dam.name %> <br />
    <b>Bloodline: </b><tab><%= @horse.dam_bloodline %><p>

  <hr>
  <h5 align="center">Children</h5>
  <% @children = children %>
  <% @children.each do |child| %>
    <%= link_to child.name, child %><br \>
  <% end %>
  <p></p>

  <hr>
  <h5 align="center">GrandChildren</h5>
  <% @grandchildren = [] %>
  <% @grandchildren.each do |grandchild| %>
    <%= link_to grandchild.name, grandchild %><br \>
  <% end %>

  </div>



  <div class="span-12 last">
  <h2 align="center"><%= @horse.name %></h2>
  <nav align="right">
    <%= link_to 'Vet Report', '#', :class => "quiet" %> |
    <%= link_to 'DNA Test', '#', :class => "quiet" %> |
    <%= link_to 'Registration', '#', :class => "quiet" %> |
    <%= link_to 'Edit', edit_horse_path(@horse), :class => "quiet" %> |
    <%= link_to 'Back', horses_path, :class => "quiet" %>
  </nav>
    <%= image_tag @horse.photo.url(:medium) %>
  
    <table>
      <tr><td><b>Name:</b></td><td><%= @horse.name %></td></tr>
      <tr><td><b>Breed:</b></td><td><%= @horse.breed %></td></tr>
      <tr><td><b>Color:</b></td><td><%= @horse.color %></td></tr>
      <tr><td><b>Gender:</b></td><td><%= @horse.gender %></td></tr>
      <tr><td><b>Owner:</b></td><td><%= @horse.owner %></tr</td>
      <tr><td><b>Breeder:</b></td><td><%= @horse.breeder_id %></td></tr>
    </table>
  </div>

</div>
<%= render 'sidebar' %>
