<div class="search">
  <h1>liquidHorse</h1>
    <%= form_tag pages_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

      <table>
        <tr>
            <% if @pages.length > 0 %>
            <th>Name</th><th>Image</th>
            <% end %>
        </tr>
      
        <% @pages.each do |p| %>
          <tr>
            <td><%= link_to p.name, p %></td>
            <td><%= image_tag p.photo.url(:thumb) %></td>
          </tr>
        <% end %>
    </table>
</div>
