<%= form_for(@player, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  <table>
    <tr><td><%= t 'name' %></td><td><%= f.text_field :name %></td></tr>
    <tr><td><%= t 'nationality' %></td><td><%= f.text_field :country %></td></tr>
    <tr><td><%= t 'players.team' %></td><td><%= f.text_field :team %></td></tr>
    <tr><td><%= t 'players.handicap' %></td><td><%= f.text_field :handicap %></td></tr>
    <tr><td><%= t 'age' %></td><td><%= f.text_field :age %></td></tr>
    <tr><td><%= t 'email' %></td><td><%= f.text_field :email %></td></tr>
    <tr><td><%= t 'tel' %></td><td><%= f.text_field :tel %></td></tr>
    <tr><td><%= t 'image' %></td><td><%= f.file_field :photo %></td></tr>
    <tr><td><%= t 'players.cv' %></td><td><%= f.file_field :cv %></td></tr>
  </table>
  </div>

  <div class="actions">
    <%= f.submit t 'update' %><br />
  </div>

<% end %>
