<div>  
  <h2 align="center"><%= @player.name %></h2>
  <nav align="right">
    <% cv = @player.cv.url %>
    <%= link_to t('players.cv'), cv, :class => "quiet" %> |
    <%= link_to t('players.profile'), '#', :class => "quiet" %> |
    <%= link_to t('players.contact'), '#', :class => "quiet" %> |
    <%= link_to t('pictures'), '#', :class => "quiet" %> |
    <%= link_to t('edit'), edit_player_path(@player), :class => "quiet" %> |
    <%= link_to t('back'), player_path, :class => "quiet" %>
  </nav>
  <%= image_tag @player.photo.url(:medium) %>
  
  <table>
    <tr><td><b><%= t 'name' %> :</b></td><td><%= @player.name %></td></tr>
    <tr><td><b><%= t 'players.team' %>:</b></td><td><%= @player.team %></td></tr>
    <tr><td><b><%= t 'players.handicap' %>:</b></td><td><%= @player.handicap %></td></tr>
    <tr><td><b><%= t 'age' %>:</b></td><td><%= @player.age %></td></tr>
    <tr><td><b><%= t 'nationality' %>:</b></td><td><%= @player.country %></td></tr>
    <tr><td><b><%= t 'email' %>:</b></td><td><%= @player.email %></td></tr>
    <tr><td><b><%= t 'tel' %>:</b></td><td><%= @player.tel %></td></tr>
    <tr><td><b><%= t 'players.creator' %>:</b></td><td><%= @player.user_id %></td></tr>
  </table>
</div>

