<nav align="right">
  <%= link_to t('add'), new_player_path, :class => "quiet" %>
</nav>
<h1><%= t 'ps' %></h1>

<table>
  <% @players.each do |player| %>
    <% image = image_tag player.photo.url(:thumb) %>
    <tr>
      <td><%= link_to player.name, player,  :class => "quiet" %></td>
      <td><%= player.country  %></td>
      <td><%= player.team     %></td>
      <td><%= player.handicap %></td>
      <td><%= link_to image, player %></td>
      <% if signed_in? %>
        <% if current_user_id?(player.user_id) %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <% elsif current_user.admin? %>
          <td><%= link_to t('delete'), player, :method => :delete,
                                    :confirm => "t 'sure'", 
                                    :title => "t 'delete' #{player.name}" %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %> 
    </tr>
  <% end %>
</table>
<%= will_paginate %>
