<div class="span-14">
  <h1><%= t 'ps' %></h1>
</div>

<div class="span-6">
  <%= form_tag players_path, :method => 'get' do %>
    <%= text_field_tag :search, params["search"] %>
    <%= submit_tag t('search'), :name => nil %>
  <% end %>
</div>

<div class="span-4 last">
  <nav align="right">
    <%= link_to t('add'), new_player_path, :class => "quiet" %>
  </nav>
</div>



<table>
  <% @players.each do |player| %>
    <% image = image_tag player.photo.url(:thumb) %>
    <tr>
      <td><%= link_to player.name, player,  :class => "quiet" %></td>
      <td><%= player.country  %></td>
      <td><%= player.team     %></td>
      <td><%= player.handicap %></td>
      <td><%= link_to image, player %></td>
      <% if signed_in? %>
        <% if current_user_id?(player.user_id) %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <% elsif current_user.admin? %>
          <td><%= link_to t('delete'), player, :method => :delete,
                                    :confirm => "t 'sure'", 
                                    :title => "t 'delete' #{player.name}" %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %> 
    </tr>
  <% end %>
</table>
<%= will_paginate %>
