<nav align="right">
  <%= link_to 'Add', new_player_path, :class => "quiet" %>
</nav>
<h1>Polo Players</h1>

<table>
  <tr>
    <th>Name</th><th>Nationality</th><th>Team</th><th>Handicap</th><th>Image</th>
    <th></th>
  </tr>

  <% @players.each do |player| %>
    <% image = image_tag player.photo.url(:thumb) %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.country %></td>
      <td><%= player.team %></td>
      <td><%= player.handicap %></td>
      <td><%= link_to image, player %></td>
      <% if signed_in? %>
        <% if current_user_id?(player.user_id) %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <% elsif current_user.admin? %>
          <td><%= link_to 'Delete', player, :method => :delete,
                                        :confirm => 'Are you sure?', 
                                        :title => "Delete #{player.name}" %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %> 
    </tr>
  <% end %>
</table>
<%= will_paginate %>
