<tr>
  <td class="quiet">
    <%= micropost.content %><br />
      <%= t 'posted' %>
      <%= t time_ago_in_words(micropost.created_at) %> 
      <%= t 'ago' t 'by' %> 
        <%= micropost.user.name %>
  </td>
  <% if current_user?(micropost.user) %>
    <td class="quiet">
      <%= link_to t('delete'), micropost,  :method   => :delete,
                                      :confirm  => t 'sure',
                                      :title    => micropost.content %>
    </td>
  <% end %>
</tr>
