<header>
  <div class="container">
    <div id="header">
      <h1 id="logo" class="span-16">
        <%= image_tag("logo.jpg", :alt => "GLOO", :class => "round") %>
      </h1>
      <nav>
        <ul>
          <li><%= link_to "horses", '#', :class => "quiet" %></li>
          <li><%= link_to "riders", '#', :class => "quiet" %></li>
          <li><%= link_to "breeders", '#', :class => "quiet" %></li>
          <li><%= link_to "help", '#', :class => "quiet" %></li>
        </ul>
      </nav>
    </div>
    <hr />

    <div id="subheader" class="span-24 last">
      <h3 class="alt">A forum about polo.</h3>
    </div>
    <hr />

  </div> 
</header>
