<header>
  <div class="container">
    <div id="header">
      <div class="span-4">
      <nav class="large">
        <ul>
          <li><%= link_to t('temps'), horses_path,  :class => "quiet" %></li>
          <li><%= link_to t('ps'),  players_path,   :class => "quiet" %></li>
        </ul>
      </nav>
      </div>
      <div class="span-20 last">
      <nav align="right" class="large">
        <ul>
          <% if signed_in?  %>
            <li><%= link_to current_user.name,    user_path( current_user), 
                                                  :class => "quiet" %></li>
            <li><%= link_to t('signout'),  signout_path,                                                                    :class => "quiet" %></li>
            <li><%= link_to t('header.Settings'), edit_user_path(current_user),
                                                  :class => "quiet" %></li>
          <% else %>
            <li><%= link_to t('signin'),   signin_path,  
                                                  :class => "quiet" %></li>
          <% end %>
          <li><%= link_to t('header.Home'),       root_path,      
                                                  :class => "quiet" %></li>
        </ul>
      </nav>
      </div>
      <h1 id="logo" class="span-16">
        <%= link_to logo, root_path %>
      </h1>
    </div>
    <hr />

    <div id="subheader" class="span-24 last">
      <h3 class="alt"><%= t 'header.subtitle' %></h3>
    </div>
    <hr />

  </div> 
</header>
